includes:
  - vendor/larastan/larastan/extension.neon

parameters:
    level: 10
    excludePaths:
        - tests/*
        - config/*
        - vendor/*
        - database/*
    paths:
        - app
        - routes
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
